@import url(http://fonts.googleapis.com/css?family=Lobster|Shadows+Into+Light|Cutive);

html, body, .reveal .slides {
  font-family: 'Cutive', serif;
  font-style: normal;
  font-weight: 400;
  color: blue;
}

.reveal h1 {
  font-family: 'Lobster', cursive;
  font-style: normal;
  font-weight: 400;
  color: red;
}

.reveal h2 {
  font-family: 'Shadows Into Light', cursive;
  font-style: normal;
  font-weight: 400;
} 

.reveal h3, .reveal h4, .reveal h5 {
  font-family: 'Shadows Into Light', cursive;
}
